node_modules
out/
out-test/
logs/
run/
.idea/
package-lock.json
data/
.vscode/launch.json
public/electron/
public/dist/
pnpm-lock.yaml
public/electron-egg/
downloadFile.7z
agentFile.7z
agentFile/
runtime/
agentFile.exe
agentFile
.DS_Store
*.zip
hiring-engine-desktop/

README.zh-CN.md